# MySQL. Versions 5.1.10 and up are supported.
#
# Install the MySQL driver
#   gem install mysql2
#
# Ensure the MySQL gem is defined in your Gemfile
#   gem 'mysql2'
#
# And be sure to use new-style password hashing:
#   https://dev.mysql.com/doc/refman/5.7/en/password-hashing.html
#
default: &default
  #adapter: sqlite3
#  pool: <%#= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  #timeout: 5000
  adapter: mysql2
  encoding: utf8
  database: gain_solution_task_api
  username: root
  password:
  host: 127.0.0.1
  port: 3306
  #socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default

# production:
#   <<: *default
#   username: gain-solution-task
#   password: ''